body {
  font-family: roboto;
}

a {
  color: #BF91FE;
}
a:hover {
  color:#FFAEE2
}
.clear {
  clear: both;
}
header {
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 1px solid #B5F1BB;
}

header h1  {
  font-size: 2em;
  margin-bottom: 15px;
}

header nav ul li {
  display: inline;
}
#project-container, #aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.project {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #B5F1BB;
}

.project img, #aboutme img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.project h2, #aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project .link {
  margin-bottom: 10px;
}

p {
  line-height: 2;
}
